{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block title %}
    About
{% endblock %}
{% block content %}

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small">I'm</span> John Doe.</h1>
    <p>Photographer and Web Designer.</p>
    <img src="/w3images/man_smoke.jpg" alt="boy" class="w3-image" width="992" height="1108">
  </header>

  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">My Name</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>Some text about me. Some text about me. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <h3 class="w3-padding-16 w3-text-light-grey">My Skills</h3>
    <p class="w3-wide">Photography</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:95%"></div>
    </div>
    <p class="w3-wide">Web Design</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:85%"></div>
    </div>
    <p class="w3-wide">Photoshop</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:80%"></div>
    </div><br>

    <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">15+</span><br>
        Albums
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">100 Millions+</span><br>
        Copies Sold
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">15</span><br>
        Grammy Awards
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">1</span><br>
        Oscar
      </div>
    </div>
  </div>

    <div class="w3-padding-64 w3-content" id="photos">
    <h2 class="w3-text-light-grey">My Photos</h2>
    <hr style="width:200px" class="w3-opacity">
    <!-- Grid for photos -->
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half">
        <img  style="width:100%" src={% static 'pics/2.jpg' %} >
        <img  style="width:100%" src={% static 'pics/3.jpg' %} >
      </div>

      <div class="w3-half">
        <img  style="width:100%" src={% static 'pics/4.jpg' %} >
        <img  style="width:100%" src={% static 'pics/5.jpeg' %}>
      </div>
    <!-- End photo grid -->
    </div>
    </div>



    <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
      Follow:
    <a class="fa fa-facebook-official w3-hover-opacity" href="https://www.facebook.com/eminem" target="_blank"></a>
    <a class="fa fa-instagram w3-hover-opacity"href="https://www.instagram.com/eminem" target="_blank"></a>
    <a class="fa fa-twitter w3-hover-opacity" href="https://www.twitter.com/eminem" target="_blank"></a>
    <p class="w3-medium">Designed By: <a href="https://www.instagram.com/deshwal.mahesh" target="_blank" class="w3-hover-text-green">Mahesh Deshwal</a></p>
  <!-- End footer -->
  </footer>

<!-- END PAGE CONTENT -->
</div>
{% endblock %}