<!DOCTYPE html>
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    {# MEDIUM STYLE EDITOR#}
    <script src="//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">


    {# Custom CSS#}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <!-- Fonts-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Pro|Roboto+Slab|Saira+Stencil+One&display=swap" rel="stylesheet">

    <style>
        body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
        .w3-row-padding img {margin-bottom: 12px}
        /* Set the width of the sidebar to 120px */
        .w3-sidebar {width: 120px;background: #222;}
        /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
        #main {margin-left: 120px}
        /* Remove margins from "page content" on small screens */
        @media only screen and (max-width: 600px) {#main {margin-left: 0}}
        footer a {text-decoration: none}
        footer a:hover {text-decoration: none}

    </style>
    {% block head %}{% endblock %}
</head>
<body class="w3-black">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
    <!-- Avatar image in top left corner -->
    <img src="{% static 'pics/emi-nav-bar.jpeg' %}" style="width:100%">
    <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-home w3-xxlarge"></i>
        <p>Home</p>
    </a>
    <a href="{% url 'about' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-info-circle w3-xxlarge"></i>
        <p>ABOUT</p>
    </a>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-user-o w3-xxlarge"></i>
            <p>Login</p>
        </a>
    {% else %}
        <a href="{% url 'login' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-user-o w3-xxlarge"></i>
            <p>Login</p>
        </a>
    {% endif %}
    <a href="{% url 'post_list' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-pencil-square-o w3-xxlarge"></i>
        <p>POSTS</p>
    </a>
    {% if user.is_staff %}
        <a href="{% url 'post_draft_list' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-files-o w3-xxlarge"></i>
            <p>Drafts</p>
        </a>
    {% endif %}
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
    <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
        <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
        <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>
        <a href="#photos" class="w3-bar-item w3-button" style="width:25% !important">PHOTOS</a>
        <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
    </div>
</div>

{% block content %}

{% endblock %}

</body>
</html>