{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/post_detail.css' %}">
{% endblock %}
{% block content %}
    <div class="w3-padding-large" id="main">
        {% if post.published_date or user.is_superuser %}
            <div class="wrapper">
                <div class="post-wrapper">
                    <div class="post-title"><h1>{{ post.title }}</h1></div>

                    {% if post.published_date %}
                        <div class="post-date">
                            <p style="font-size: 20px" align="right">Posted on: {{ post.published_date }}</p>
                        </div>
                    {% else %}
                        <div class="unbublished">
                            {% if user.is_superuser %}
                                <a class="btn btn-default" href="{% url 'publish_post' pk=post.pk %}">Publish</a>
                            {% endif %}
                        </div>
                    {% endif %}

                    <div class="post-content">
                        <p>{{ post.text|safe|linebreaksbr }}</p>
                    </div>

                    {% if user.is_superuser %}
                        <a class="btn btn-primary gly " href="{% url 'edit_post' pk=post.pk %}">
                            <span class="glyphicon glyphicon-pencil"></span></a>
                        <a class="btn btn-danger gly " href="{% url 'delete_post' pk=post.pk %}">
                            <span class="glyphicon glyphicon-remove"></span></a>
                    {% endif %}
                    <a class="btn btn-primary btn-comment cmnt-btn loader" href="{% url 'add_comment_to_post' pk=post.pk %}"> Comment </a>
                </div>
                <hr>
                <div class="comment-wrapper">
                    <div class="loader"><h2>Comments</h2></div>
                    {% if post.comments %}
                        {% for comment in post.comments.all %}
                            {% if not comment.approved_comment and user.is_superuser %}
                                <div class="unapproved-comments">
                                    <h3>Approve/Un-approve this comment</h3>
                                    <div class="comment-content"><p>{{ comment.text|safe|linebreaks }}</p></div>
                                    <div class="commented-by"><p>@{{ comment.author }}</p></div>
                                    <div class="commented-on"><p>{{ comment.created_date }}</p></div>

                                    <a class="btn btn-default gly " href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                                    <a class="btn btn-default gly " href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                                </div>
                            {% endif %}

                            {% if comment.approved_comment %}

                                <div class="approved-comments">

                                    <div class="comment-text"><p>{{ comment.text|safe|linebreaks }}</p></div>
                                    <div class="commented-by"><p>@{{ comment.author }}</p></div>
                                    <div class="commented-on"><p>- {{ comment.created_date }}</p></div>

                                    {% if user.is_superuser or user.username == comment.author %}
                                        <a class="btn btn-danger gly " href="{% url 'comment_remove' pk=comment.pk %}">
                                            <span title="Remove" class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    {% endif %}

                                    {% if user.username == comment.author %}
                                        <a class="btn btn-primary gly " href="{% url 'comment_update' pk=comment.pk %}">
                                            <span title="Edit" class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                    {% endif %}
                                    <p></p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p>No comments yet!</p>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <h1 class="no-result">If you are seeing this, there are high chnces that we are watching you.
                So stop fiddling with the website. </h1>
        {% endif %}
    </div>
{% endblock %}