{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/post_detail.css' %}">
{% endblock %}
{% block content %}
    <div class="w3-padding-large" id="main">
        <div class="wrapper w3-red">
            <div class="post-wrapper w3-black loader">
                <h2>{{ post.title }}</h2>
                {% if post.published_date %}
                    <div class="date postdate">
                        <p style="font-size: 20px" align="left">{{ post.published_date }}</p>
                {% else %}
                        <a class="btn btn-default" href="{% url 'publish_post' pk=post.pk %}">Publish</a>
                    </div>
                {% endif %}
                <div class="post-wrapper"> <p>{{ post.text|safe|linebreaksbr }}</p></div>
                {% if user.is_authenticated and user.is_staff %}
                    <a class="btn btn-primary " href="{% url 'edit_post' pk=post.pk %}">
                        <span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-primary " href="{% url 'delete_post' pk=post.pk %}">
                        <span class="glyphicon glyphicon-remove"></span></a>
                    <a class="btn btn-primary btn-comment " href="{% url 'add_comment_to_post' pk=post.pk %}"> Comment </a>
                    </div>

                {% endif %}
            <hr>
            <div class="container">
                {% for comment in post.comments.all %}
                    {% if user.is_authenticated or comment.approved_comment %}
                        {{ comment.created_date }}
                        {% if not comment.approved_comment and user.is_staff %}

                            <a class="btn btn-default " href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                            <a class="btn btn-default " href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                        {% endif %}
                        <p>{{ comment.text|safe|linebreaks }}</p>
                        <p>@{{ comment.author }}</p>
                        {% if user.is_staff or user.username == comment.author %}
                            <a class="btn btn-default " href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                            <p></p>
                        {% endif %}
                    {% endif %}
                {% empty %}
                    <p>No comments yet!</p>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}