.wrapper {
    border:white 2px solid;
    padding: 10px;
}

.comment-wrapper{
    border: 1px solid #aaaaaa;
    padding:10px;
    margin: 1px;
}

.post-wrapper{
    border: 2px solid white;
    padding:5px;
    margin: 150px !important;
}


.post-wrapper h2 {
    font-family: Roboto, sans-serif !important;
}

.post-content{
}