
.wrapper {
    border: white 2px solid;
    padding: 10px;
    background-color: #222222;
}


.post-wrapper{
    display: block;
    border: 2px solid white;
    background-color: black;
    padding:20px;
    margin: 2px;
}

.post-title h1{
    color:#db1212;
    font-family: 'Crimson Pro', serif;
    font-style: oblique;
    text-align: center;
    font-variant: small-caps;
    font-size: 40px;
}

.post-date p{
    font-family: 'Saira Stencil One', cursive;
    text-align: center;
    font-variant: small-caps;
    font-size: 16px !important;
}
.post-content{
    display: block;
    margin-top:5px;
    padding-top: 10px;
}

.post-content a{
    color: yellowgreen;
}

.gly{
    font-size: 10px;
    margin-top: 5px;
}


.cmnt-btn{
    font-size: 10px;
    margin-top: 5px;
    margin-left: 93%;
}

.comment-wrapper{
    border: 2px solid white;
    background-color: black;
    padding:20px;
    margin: 2px;
}

.comment-wrapper h2{
    font-family: 'Dancing Script', sans-serif;
    text-align: center;
    color: #27c476;
    font-variant: historical-ligatures;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #cccccc;
}

.approved-comments{
    padding:15px;
    margin: 20px 0px;
    background-color: #cccccc;
    color:black;
}

.approved-comments:hover{
    background-color: #aaaaaa;
}
.unapproved-comments{
    border: 2px solid red;
    padding:5px;
    margin:2px;
}

.comment-text p{
    font-size: 17px;
    font-family: "Trebuchet MS", sans-serif;

}

.commented-by p{
    font-style: italic;
    font-family: "Comic Sans MS";
    color:green;
    font-size: 15px;
    position:relative;
    left:15px;
}

.commented-on p{
    font-size: 10px;
    color:red;
    position: relative;
    left: 30px;
}
